<?xml version="1.0"?>

<PropertyList>

    <name>config</name>
    <modal>false</modal>
    <draggable>true</draggable>
    <layout>vbox</layout>
    <x>10</x>
    <y>-40</y>

    <group>
        <padding>4</padding>
        <layout>hbox</layout>

        <text>

            <label>Configuration</label>
        </text>

        <button>
            <halign>right</halign>
            <pref-width>20</pref-width>
            <pref-height>20</pref-height>
            <legend>X</legend>
            <key>Esc</key>
            <binding>
                <command>dialog-close</command>
            </binding>
        </button>
	
	
    </group>
    		<hrule/>
    <group>

         <layout>table</layout>


    <button>
			<legend>Select Livery</legend>
      <equal>true</equal>
      <default>true</default>
            <row>0</row>
            <col>0</col>
			<binding> 
        <command>nasal</command>
        <script>aircraft.livery.dialog.toggle()</script>
			</binding>
    </button>
 
       <text>
            <row>1</row>
            <col>0</col>
            <label>Tailwheel steerable</label>
        </text>
        <text>
            <row>2</row>
            <col>0</col>
            <label>(requires Restart)</label>
        </text>

        <checkbox>
	    <name>Tailwheel</name>
            <halign>left</halign>
            <row>1</row>
            <col>1</col>	
            <property>/controls/gear/tailwheel-steerable</property>
	    <binding>
		<command>dialog-apply</command>
		<object-name>Tailwheel</object-name>
	    </binding>
        </checkbox>

        <text>
            <row>4</row>
            <col>0</col>
            <label>Combat Mode</label>
        </text>

        <checkbox>
	    <name>combatmode</name>
            <halign>left</halign>
            <row>4</row>
            <col>1</col>	
            <property>/combat/enabled</property>
	    <binding>
		<command>dialog-apply</command>
		<object-name>combatmode</object-name>
	    </binding>
        </checkbox>

        <text>
            <row>5</row>
            <col>0</col>
            <label>Start Idling</label>
        </text>

        <checkbox>
	    <name>idling</name>
            <halign>left</halign>
            <row>5</row>
            <col>1</col>	
            <property>/controls/startup/idling</property>
	    <binding>
		<command>dialog-apply</command>
		<object-name>idling</object-name>
	    </binding>
        </checkbox>

        <text>
            <row>6</row>
            <col>0</col>
            <label>Configure Startup</label>
        </text>

        <checkbox>
	    <name>confstart</name>
            <halign>left</halign>
            <row>6</row>
            <col>1</col>	
            <property>/controls/startup/config</property>
	    <binding>
		<command>dialog-apply</command>
		<object-name>confstart</object-name>
	    </binding>
        </checkbox>


    </group>
 


</PropertyList>
